# Analyzing the Golden Era of Video Games

Video games represent a significant sector in the global economy, with projections from Mordor Intelligence indicating a valuation surpassing $300 billion by 2027. This substantial market value underscores the intense competition among major game publishers to innovate and produce groundbreaking titles. However, amidst this dynamic landscape, a critical question emerges: Are contemporary games truly advancing, or have we already witnessed the pinnacle of gaming excellence?

Within this project, a comprehensive analysis of video game critic and user ratings, alongside sales data, will be conducted for the top 400 video games released since 1977. The objective is twofold: to ascertain whether there exists a definitive "golden age" of video gaming, as perceived by both users and critics, and to delve into the commercial dynamics driving the gaming industry through a thorough examination of sales figures.

This endeavor will entail intricate data manipulation techniques, including dataset merging and comparisons utilizing set theory principles. Moreover, data refinement processes such as filtering, grouping, and ordering will be employed extensively. It is advised to ensure proficiency in these analytical skills prior to embarking on this project.

The dataset comprises two meticulously curated tables, each containing 400 entries tailored specifically for this analysis. However, for those seeking a deeper exploration, the complete dataset comprising over 13,000 games is available on Kaggle, providing a richer pool of information for further investigation.

### `game_sales` table

| Column | Definition | Data Type |
|-|-|-|  
|name|Name of the video game|`varchar`|
|platform|Gaming platform|`varchar`|
|publisher|Game publisher|`varchar`|
|developer|Game developer|`varchar`|
|games_sold|Number of copies sold (millions)|`float`|
|year|Release year|`int`|

### `reviews` table

| Column | Definition | Data Type |
|-|-|-|
|name|Name of the video game|`varchar`|  
|critic_score|Critic score according to Metacritic|`float`|
|user_score|User score according to Metacritic|`float`|


### `users_avg_year_rating` table

| Column | Definition | Data Type |
|-|-|-|
|year| Release year of the games reviewed |`int`|  
|num_games| Number of games released that year |`int`|
|avg_user_score| Average score of all the games ratings for the year |`float`|

### `critics_avg_year_rating` table

| Column | Definition | Data Type |
|-|-|-|
|year| Release year of the games reviewed |`int`|  
|num_games| Number of games released that year |`int`|
|avg_critic_score| Average score of all the games ratings for the year |`float`|

In [9]:
-- top 10 best_selling_games
SELECT *
FROM game_sales
ORDER BY games_sold DESC
LIMIT 10;

                                        name platform  ... games_sold  year
0                         Wii Sports for Wii      Wii  ...      82.90  2006
1                  Super Mario Bros. for NES      NES  ...      40.24  1985
2    Counter-Strike: Global Offensive for PC       PC  ...      40.00  2012
3                     Mario Kart Wii for Wii      Wii  ...      37.32  2008
4       PLAYERUNKNOWN'S BATTLEGROUNDS for PC       PC  ...      36.60  2017
5                           Minecraft for PC       PC  ...      33.15  2010
6                  Wii Sports Resort for Wii      Wii  ...      33.13  2009
7  Pokemon Red / Green / Blue Version for GB       GB  ...      31.38  1998
8               New Super Mario Bros. for DS       DS  ...      30.80  2006
9          New Super Mario Bros. Wii for Wii      Wii  ...      30.30  2009

[10 rows x 6 columns]

In [10]:
-- critics_top_ten_years
SELECT g.year, COUNT(g.name) AS num_games, ROUND(AVG(r.critic_score), 2) AS avg_critic_score
FROM game_sales AS g
INNER JOIN reviews AS r
ON g.name = r.name
GROUP BY g.year
HAVING COUNT(g.name) > 4 
ORDER BY avg_critic_score DESC
LIMIT 10;

   year  num_games  avg_critic_score
0  1998         10              9.32
1  2004         11              9.03
2  2002          9              8.99
3  1999         11              8.93
4  2001         13              8.82
5  2011         26              8.76
6  2016         13              8.67
7  2013         18              8.66
8  2008         20              8.63
9  2017         13              8.62

In [11]:
-- videogames golden_years
SELECT u.year, u.num_games, c.avg_critic_score, u.avg_user_score, GREATEST(c.avg_critic_score, u.avg_user_score) - LEAST(c.avg_critic_score, u.avg_user_score) AS diff
FROM critics_avg_year_rating c
INNER JOIN users_avg_year_rating u
ON c.year = u.year
WHERE c.avg_critic_score > 9 OR u.avg_user_score > 9
ORDER BY diff ASC

   year  num_games  avg_critic_score  avg_user_score  diff
0  1998         10              9.32            9.40  0.08
1  2008         20              8.63            9.03  0.40
2  2004         11              9.03            8.55  0.48
3  2009         20              8.55            9.18  0.63
4  2010         23              8.41            9.24  0.83
5  1997          8              7.93            9.50  1.57